@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Przedmioty";
}

<!-- React will render everything in this container -->
<div id="react-item-list-container">
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border text-success" role="status">
            <span class="visually-hidden">Ładowanie...</span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/dist/itemList.bundle.js" asp-append-version="true"></script>
}